EXERCISE (SET 2)
DATA ANALYSIS WITH PANDAS

In [2]:
"""
SERIES
1.	Write a Pandas program to compare the elements of two Pandas series. 
Sample Series [4,65,436,3,9], [7,0,3,897,9]
"""
import numpy as np
import pandas as pd

s1 = pd.Series([4, 65, 436, 3, 9])
s2 = pd.Series([7, 0, 3, 897, 9])

comparison = s1 == s2
print(comparison)

0    False
1    False
2    False
3    False
4     True
dtype: bool

In [3]:
"""
2.	Write a Pandas program to add, subtract, multiply and divide two Pandas series. 
Sample Series: [2,4,6,8,14], [1,3,5,7,9]

"""
series1 = pd.Series([2, 4, 6, 8, 14])
series2 = pd.Series([1, 3, 5, 7, 9])

addition = series1 + series2
subtraction = series1 - series2
multiplication = series1 * series2
division = series1 / series2

print("Addition:")
print(addition)

print("Subtraction:")
print(subtraction)

print("Multiplication:")
print(multiplication)

print("Division:")
print(division)

Addition:
0     3
1     7
2    11
3    15
4    23
dtype: int64
Subtraction:
0    1
1    1
2    1
3    1
4    5
dtype: int64
Multiplication:
0      2
1     12
2     30
3     56
4    126
dtype: int64
Division:
0    2.000000
1    1.333333
2    1.200000
3    1.142857
4    1.555556
dtype: float64

In [4]:
"""
3.	Write a Pandas program to convert a dictionary to a Pandas series. 
Sample dictionary: dictionary1 = {‘Josh’: 24, ‘Sam’: 36, ‘Peace’: 19, ‘Charles’: 65, ‘Tom’: 44}

"""

dict = {'Josh': 24, 'Sam': 36, 'Peace': 19, 'Charles': 65, 'Tom': 44}

series = pd.Series(dict)
print(series)

Josh       24
Sam        36
Peace      19
Charles    65
Tom        44
dtype: int64

In [5]:
"""
4.	Write a Pandas program to convert a given series to an array.
Sample series: [‘Love’, 800, ‘Joy’, 789.9, ‘Peace’, True]

"""
series = pd.Series(['Love', 800, 'Joy', 789.9, 'Peace', True])

array = np.array(series)
print(array)

['Love' 800 'Joy' 789.9 'Peace' True]

In [6]:
"""
5.	Write a Pandas program to display the most frequent value in the given series and replace everything else as ‘Other’ in the series. (Use the ‘HomeTeamGoals’ column in the dataset provided)

"""

# Read the dataset into a Pandas DataFrame
afcon = pd.read_csv("AfricaCupofNationsMatches.csv")

# Extract the 'HomeTeamGoals' column
home_goals = afcon['HomeTeamGoals']

# Find the most frequent value
most_frequent_value = home_goals.mode()[0]

# Replace all other values with 'Other'
home_goals = home_goals.apply(lambda x: 'Other' if x != most_frequent_value else x)

# Print the updated Series
print(home_goals)

0        1.0
1      Other
2      Other
3      Other
4        1.0
       ...
617    Other
618      1.0
619    Other
620    Other
621    Other
Name: HomeTeamGoals, Length: 622, dtype: object

DATAFRAMES

In [7]:
"""
1.	Write a Pandas program to read the given csv file.
"""
df = pd.read_csv("AfricaCupofNationsMatches.csv")

In [8]:
"""
2.	Write a Pandas program to get the first 7 rows of your data frame.
"""
print(df.head(7))

   Year      Date  Time    HomeTeam       AwayTeam  HomeTeamGoals  \
0  1957  10-Feb-57   NaN     Sudan           Egypt            1.0
1  1957  10-Feb-57   NaN  Ethiopia    South Africa            NaN
2  1957  16-Feb-57   NaN     Egypt        Ethiopia            4.0
3  1959  22-May-59   NaN      Egypt       Ethiopia            4.0
4  1959  25-May-59   NaN     Sudan        Ethiopia            1.0
5  1959  29-May-59   NaN      Egypt          Sudan            2.0
6  1962  14-Jan-62   NaN  Ethiopia         Tunisia            4.0

   AwayTeamGoals             Stage  \
0            2.0        Semifinals
1            NaN        Semifinals
2            0.0             Final
3            0.0  Final Tournament
4            0.0  Final Tournament
5            1.0  Final Tournament
6            2.0        Semifinals

                                SpecialWinConditions                 Stadium  \
0                                                NaN       Municipal Stadium
1  Ethiopia  wins due to disqualification of othe...                     NaN
2                                                NaN       Municipal Stadium
3                                                NaN   Prince Farouk Stadium
4                                                NaN   Prince Farouk Stadium
5                                                NaN   Prince Farouk Stadium
6                                                NaN  Hailé Sélassié Stadium

           City  Attendance
0      Khartoum     30000.0
1           NaN         NaN
2      Khartoum     30000.0
3         Cairo     30000.0
4         Cairo     20000.0
5         Cairo     30000.0
6   Addis Ababa     30000.0

In [9]:
"""
3.	Write a Pandas program to select the ‘HomeTeam’, ‘AwayTeam’, ‘HomeTeamGoals’ and ‘AwayTeamGoals’ columns from your data frame.
"""
# Select specific columns
filtered_columns = df[['HomeTeam', 'AwayTeam', 'HomeTeamGoals', 'AwayTeamGoals']]

# Print the selected columns
print(filtered_columns)

        HomeTeam       AwayTeam  HomeTeamGoals  AwayTeamGoals
0         Sudan           Egypt            1.0            2.0
1      Ethiopia    South Africa            NaN            NaN
2         Egypt        Ethiopia            4.0            0.0
3          Egypt       Ethiopia            4.0            0.0
4         Sudan        Ethiopia            1.0            0.0
..           ...            ...            ...            ...
617  Madagascar         Tunisia            0.0            3.0
618     Senegal         Tunisia            1.0            0.0
619     Algeria         Nigeria            2.0            1.0
620     Tunisia         Nigeria            0.0            1.0
621     Senegal         Algeria            0.0            1.0

[622 rows x 4 columns]

In [10]:
"""
4.	Write a Pandas program to select the rows where Egypt appears.
"""
# Select rows where Egypt appears
egypt_rows = df[(df['HomeTeam'] == 'Egypt') | (df['AwayTeam'] == 'Egypt')]

# Print the selected rows
print(egypt_rows)

    Year      Date  Time    HomeTeam   AwayTeam  HomeTeamGoals  AwayTeamGoals  \
3   1959  22-May-59   NaN      Egypt   Ethiopia            4.0            0.0
5   1959  29-May-59   NaN      Egypt      Sudan            2.0            1.0
7   1962  18-Jan-62   NaN      Egypt     Uganda            2.0            1.0
9   1962  21-Jan-62   NaN  Ethiopia       Egypt            4.0            2.0
13  1963  24-Nov-63   NaN      Egypt    Nigeria            6.0            3.0
14  1963  26-Nov-63   NaN      Egypt      Sudan            2.0            2.0
16  1963  30-Nov-63   NaN      Egypt   Ethiopia            3.0            0.0

                Stage    SpecialWinConditions                 Stadium  \
3    Final Tournament                     NaN   Prince Farouk Stadium
5    Final Tournament                     NaN   Prince Farouk Stadium
7          Semifinals                     NaN  Hailé Sélassié Stadium
9               Final   win after extra time   Hailé Sélassié Stadium
13            Group B                     NaN   Kumasi Sports Stadium
14            Group B                     NaN   Kumasi Sports Stadium
16  Third place match                     NaN    Accra Sports Stadium

            City  Attendance
3          Cairo     30000.0
5          Cairo     30000.0
7    Addis Ababa     30000.0
9    Addis Ababa         NaN
13        Kumasi         NaN
14        Kumasi         NaN
16         Accra         NaN

In [11]:
"""
5.	Write a Pandas program to count the number of rows and columns of your data frame.
"""
# Count the number of rows and columns
rows, columns = df.shape

# Print the count
print("Number of rows:", rows)
print("Number of columns:", columns)

Number of rows: 622
Number of columns: 12

In [12]:
"""
6.	Write a Pandas program to select the rows where the ‘Attendance’ is missing.
"""
# Select rows where 'Attendance' is missing
missing_attendance_rows = df[df['Attendance'].isnull()]

# Print the selected rows
print(missing_attendance_rows)

     Year                         Date   Time        HomeTeam       AwayTeam  \
1    1957                     10-Feb-57    NaN      Ethiopia    South Africa
8    1962                     20-Jan-62    NaN       Tunisia          Uganda
9    1962                     21-Jan-62    NaN      Ethiopia           Egypt
10   1963                     24-Nov-63    NaN         Ghana         Tunisia
11   1963                     26-Nov-63    NaN         Ghana        Ethiopia
..    ...                           ...    ...            ...            ...
565  2017  29 January 2017 (2017-01-29)  20:00         Egypt         Morocco
566  2017  1 February 2017 (2017-02-01)  20:00  Burkina Faso           Egypt
567  2017  2 February 2017 (2017-02-02)  20:00      Cameroon           Ghana
568  2017  4 February 2017 (2017-02-04)  20:00  Burkina Faso           Ghana
569  2017  5 February 2017 (2017-02-05)  20:00         Egypt        Cameroon

     HomeTeamGoals  AwayTeamGoals                 Stage  \
1              NaN            NaN            Semifinals
8              3.0            0.0     Third place match
9              4.0            2.0                 Final
10             1.0            1.0               Group A
11             2.0            0.0               Group A
..             ...            ...                   ...
565            1.0            0.0        Quarter-finals
566            1.0            1.0           Semi-finals
567            2.0            0.0           Semi-finals
568            1.0            0.0  Third place play-off
569            1.0            2.0                 Final

                                  SpecialWinConditions  \
1    Ethiopia  wins due to disqualification of othe...
8                                                  NaN
9                                win after extra time
10                                                 NaN
11                                                 NaN
..                                                 ...
565                                                NaN
566                        Egypt win on Penalities 3-4
567                                                NaN
568                                                NaN
569                                                NaN

                    Stadium          City  Attendance
1                       NaN           NaN         NaN
8    Hailé Sélassié Stadium   Addis Ababa         NaN
9    Hailé Sélassié Stadium   Addis Ababa         NaN
10     Accra Sports Stadium         Accra         NaN
11     Accra Sports Stadium         Accra         NaN
..                      ...           ...         ...
565    Stade de Port-Gentil   Port-Gentil         NaN
566       Stade de l'Amitié    Libreville         NaN
567    Stade de Franceville   Franceville         NaN
568    Stade de Port-Gentil   Port-Gentil         NaN
569       Stade de l'Amitié    Libreville         NaN

[100 rows x 12 columns]

In [13]:
"""
7.	Write a Pandas program to select the rows where the ‘HomeTeamGoals’ are between 3 and 6 inclusive.
"""
# Select rows where 'HomeTeamGoals' are between 3 and 6 inclusive
selected_rows = df[(df['HomeTeamGoals'] >= 3) & (df['HomeTeamGoals'] <= 6)]

# Print the selected rows
print(selected_rows)

     Year                         Date   Time    HomeTeam     AwayTeam  \
2    1957                     16-Feb-57    NaN     Egypt      Ethiopia
3    1959                     22-May-59    NaN      Egypt     Ethiopia
6    1962                     14-Jan-62    NaN  Ethiopia       Tunisia
8    1962                     20-Jan-62    NaN   Tunisia        Uganda
9    1962                     21-Jan-62    NaN  Ethiopia         Egypt
..    ...                           ...    ...        ...          ...
553  2017  20 January 2017 (2017-01-20)  20:00   Morocco          Togo
585  2019     27 June 2019 (2019-06-27)  22:00     Kenya      Tanzania
595  2019     24 June 2019 (2019-06-24)  22:00      Mali    Mauritania
608  2019      6 July 2019 (2019-07-06)  18:00   Nigeria      Cameroon
611  2019      7 July 2019 (2019-07-07)  21:00   Algeria        Guinea

     HomeTeamGoals  AwayTeamGoals              Stage    SpecialWinConditions  \
2              4.0            0.0              Final                     NaN
3              4.0            0.0   Final Tournament                     NaN
6              4.0            2.0         Semifinals                     NaN
8              3.0            0.0  Third place match                     NaN
9              4.0            2.0              Final   win after extra time
..             ...            ...                ...                     ...
553            3.0            1.0            Group C                     NaN
585            3.0            2.0            Group C                     NaN
595            4.0            1.0            Group E                     NaN
608            3.0            2.0        Round of 16                     NaN
611            3.0            0.0        Round of 16                     NaN

                    Stadium          City  Attendance
2         Municipal Stadium      Khartoum     30000.0
3     Prince Farouk Stadium         Cairo     30000.0
6    Hailé Sélassié Stadium   Addis Ababa     30000.0
8    Hailé Sélassié Stadium   Addis Ababa         NaN
9    Hailé Sélassié Stadium   Addis Ababa         NaN
..                      ...           ...         ...
553            Stade d'Oyem          Oyem         NaN
585         30 June Stadium         Cairo      7233.0
595            Suez Stadium          Suez      6202.0
608      Alexandria Stadium    Alexandria     10000.0
611         30 June Stadium         Cairo      8205.0

[138 rows x 12 columns]

In [14]:
"""
8.	Write a Pandas program to change the “AwayTeamGoals” in the 3rd row to 10.
"""
# Change the "AwayTeamGoals" in the 3rd row to 10
df.at[2, "AwayTeamGoals"] = 10

print(df.head(4))

   Year      Date  Time    HomeTeam       AwayTeam  HomeTeamGoals  \
0  1957  10-Feb-57   NaN     Sudan           Egypt            1.0
1  1957  10-Feb-57   NaN  Ethiopia    South Africa            NaN
2  1957  16-Feb-57   NaN     Egypt        Ethiopia            4.0
3  1959  22-May-59   NaN      Egypt       Ethiopia            4.0

   AwayTeamGoals             Stage  \
0            2.0        Semifinals
1            NaN        Semifinals
2           10.0             Final
3            0.0  Final Tournament

                                SpecialWinConditions                Stadium  \
0                                                NaN      Municipal Stadium
1  Ethiopia  wins due to disqualification of othe...                    NaN
2                                                NaN      Municipal Stadium
3                                                NaN  Prince Farouk Stadium

        City  Attendance
0   Khartoum     30000.0
1        NaN         NaN
2   Khartoum     30000.0
3      Cairo     30000.0

In [15]:
"""
9.	Write a Pandas program to sort the DataFrame first by ‘HomeTeam’ in ascending order, then by ‘HomeTeamScores’ in descending order.
"""
# Sort the DataFrame by 'HomeTeam' in ascending order and 'HomeTeamScores' in descending order
sorted_df = df.sort_values(by=['HomeTeam', 'HomeTeamGoals'], ascending=[True, False])

# Print the sorted DataFrame
print(sorted_df)

     Year                         Date           Time    HomeTeam  \
205  1990                      2-Mar-90            NaN   Algeria
29   1968                     14-Jan-68            NaN   Algeria
135  1980                     16-Mar-80            NaN   Algeria
164  1984                      5-Mar-84            NaN   Algeria
171  1984                     17-Mar-84            NaN   Algeria
..    ...                           ...            ...        ...
521  2012                     12-Feb-12  20:30[note 1]    Zambia
549  2017  23 January 2017 (2017-01-23)          20:00  Zimbabwe
398  2004                     25-Jan-04          16:30  Zimbabwe
437  2006                     23-Jan-06          20:00  Zimbabwe
575  2019     30 June 2019 (2019-06-30)          21:00  Zimbabwe

         AwayTeam  HomeTeamGoals  AwayTeamGoals              Stage  \
205       Nigeria            5.0            1.0            Group A
29         Uganda            4.0            0.0            Group A
135        Guinea            3.0            2.0            Group B
164        Malawi            3.0            0.0            Group B
171         Egypt            3.0            1.0  Third place match
..            ...            ...            ...                ...
521   Ivory Coast            0.0            0.0              Final
549       Tunisia            2.0            4.0            Group B
398         Egypt            1.0            2.0            Group C
437       Senegal            0.0            2.0            Group D
575      DR Congo            0.0            4.0            Group A

              SpecialWinConditions                       Stadium  \
205                            NaN          Stade 5 Juillet 1962
29                             NaN        Hailé Sélassié Stadium
135                            NaN               Liberty Stadium
164                            NaN                  Stade Bouaké
171                            NaN  Stade Félix Houphouët-Boigny
..                             ...                           ...
521  Zambia  win on Penalities 8-7              Stade d'Angondjé
549                            NaN             Stade de l'Amitié
398                            NaN          Stade Taïeb El Mhiri
437                            NaN             Port Said Stadium
575                            NaN               30 June Stadium

             City  Attendance
205       Algiers     85000.0
29    Addis Ababa     25000.0
135        Ibadan     20000.0
164        Bouaké     10000.0
171       Abidjan       500.0
..            ...         ...
521    Libreville     40000.0
549    Libreville         NaN
398          Sfax     22000.0
437     Port Said     15000.0
575         Cairo      4364.0

[622 rows x 12 columns]

In [16]:
"""
10.	Write a Pandas program to get list from DataFrame column headers.
"""
# Get a list of column headers
column_headers = list(df.columns)

# Print the list of column headers
print(column_headers)

['Year', 'Date ', 'Time ', 'HomeTeam', 'AwayTeam', 'HomeTeamGoals', 'AwayTeamGoals', 'Stage', 'SpecialWinConditions', 'Stadium', 'City', 'Attendance']

In [17]:
"""
11.	Write a Pandas program to append a column of your choice to your DataFrame.
"""
new_column = [None]*622
# Append the new column to the DataFrame
df['NewColumn'] = new_column
print(df)

     Year                      Date   Time      HomeTeam       AwayTeam  \
0    1957                  10-Feb-57    NaN       Sudan           Egypt
1    1957                  10-Feb-57    NaN    Ethiopia    South Africa
2    1957                  16-Feb-57    NaN       Egypt        Ethiopia
3    1959                  22-May-59    NaN        Egypt       Ethiopia
4    1959                  25-May-59    NaN       Sudan        Ethiopia
..    ...                        ...    ...          ...            ...
617  2019  11 July 2019 (2019-07-11)  21:00  Madagascar         Tunisia
618  2019  14 July 2019 (2019-07-14)  18:00     Senegal         Tunisia
619  2019  14 July 2019 (2019-07-14)  21:00     Algeria         Nigeria
620  2019  17 July 2019 (2019-07-17)  21:00     Tunisia         Nigeria
621  2019  19 July 2019 (2019-07-19)  21:00     Senegal         Algeria

     HomeTeamGoals  AwayTeamGoals                 Stage  \
0              1.0            2.0            Semifinals
1              NaN            NaN            Semifinals
2              4.0           10.0                 Final
3              4.0            0.0      Final Tournament
4              1.0            0.0      Final Tournament
..             ...            ...                   ...
617            0.0            3.0        Quarter-finals
618            1.0            0.0           Semi-finals
619            2.0            1.0           Semi-finals
620            0.0            1.0  Third place play-off
621            0.0            1.0                 Final

                                  SpecialWinConditions  \
0                                                  NaN
1    Ethiopia  wins due to disqualification of othe...
2                                                  NaN
3                                                  NaN
4                                                  NaN
..                                                 ...
617                                                NaN
618                              win after extra time
619                                                NaN
620                                                NaN
621                                                NaN

                         Stadium       City  Attendance NewColumn
0              Municipal Stadium   Khartoum     30000.0      None
1                            NaN        NaN         NaN      None
2              Municipal Stadium   Khartoum     30000.0      None
3          Prince Farouk Stadium      Cairo     30000.0      None
4          Prince Farouk Stadium      Cairo     20000.0      None
..                           ...        ...         ...       ...
617             Al Salam Stadium      Cairo      7568.0      None
618              30 June Stadium      Cairo      9143.0      None
619  Cairo International Stadium      Cairo     49775.0      None
620             Al Salam Stadium      Cairo      6340.0      None
621  Cairo International Stadium      Cairo     75000.0      None

[622 rows x 13 columns]

In [18]:
"""
12.	Write a Pandas program to add 2 rows to your DataFrame.
"""
# Create two new rows as dictionaries
new_row1 = {'Year': 1965, 'Date': '22-Nov-65', 'Time': '', 'HomeTeam': 'Tunisia', 'AwayTeam': 'Senegal', 'HomeTeamGoals': 2, 'AwayTeamGoals': 1, 'Stage': 'Group A', 'SpecialWinConditions': '', 'Stadium': 'Stade Chedli Zouiten', 'City': 'Tunis', 'Attendance': 20000}
new_row2 = {'Year': 1965, 'Date': '22-Nov-65', 'Time': '', 'HomeTeam': 'Ghana', 'AwayTeam': 'Ivory Coast', 'HomeTeamGoals': 3, 'AwayTeamGoals': 2, 'Stage': 'Group B', 'SpecialWinConditions': '', 'Stadium': 'Stade Ahmed Bsiri', 'City': 'Bizerte', 'Attendance': 15000}

# Convert the new rows to DataFrames
new_rows = pd.DataFrame([new_row1, new_row2])

# Append the new rows to the DataFrame
df = pd.concat([df, new_rows], ignore_index=True)

# Print the updated DataFrame
print(df.tail(4))

     Year                      Date   Time   HomeTeam     AwayTeam  \
620  2019  17 July 2019 (2019-07-17)  21:00  Tunisia       Nigeria
621  2019  19 July 2019 (2019-07-19)  21:00  Senegal       Algeria
622  1965                        NaN    NaN   Tunisia      Senegal
623  1965                        NaN    NaN     Ghana  Ivory Coast

     HomeTeamGoals  AwayTeamGoals                 Stage SpecialWinConditions  \
620            0.0            1.0  Third place play-off                  NaN
621            0.0            1.0                 Final                  NaN
622            2.0            1.0               Group A
623            3.0            2.0               Group B

                         Stadium     City  Attendance NewColumn       Date  \
620             Al Salam Stadium    Cairo      6340.0      None        NaN
621  Cairo International Stadium    Cairo     75000.0      None        NaN
622         Stade Chedli Zouiten    Tunis     20000.0       NaN  22-Nov-65
623            Stade Ahmed Bsiri  Bizerte     15000.0       NaN  22-Nov-65

    Time
620  NaN
621  NaN
622
623

In [19]:
"""
13.	Write a Pandas program to change the country ‘Uganda’ to ‘China’ in the ‘AwayTeam’ column of the DataFrame.
"""

# Change 'Uganda' to 'China' in the 'AwayTeam' column
df['AwayTeam'] = df['AwayTeam'].replace('Uganda', 'China')

# Print the updated DataFrame
print(df)

     Year                      Date   Time    HomeTeam       AwayTeam  \
0    1957                  10-Feb-57    NaN     Sudan           Egypt
1    1957                  10-Feb-57    NaN  Ethiopia    South Africa
2    1957                  16-Feb-57    NaN     Egypt        Ethiopia
3    1959                  22-May-59    NaN      Egypt       Ethiopia
4    1959                  25-May-59    NaN     Sudan        Ethiopia
..    ...                        ...    ...        ...            ...
619  2019  14 July 2019 (2019-07-14)  21:00   Algeria         Nigeria
620  2019  17 July 2019 (2019-07-17)  21:00   Tunisia         Nigeria
621  2019  19 July 2019 (2019-07-19)  21:00   Senegal         Algeria
622  1965                        NaN    NaN    Tunisia        Senegal
623  1965                        NaN    NaN      Ghana    Ivory Coast

     HomeTeamGoals  AwayTeamGoals                 Stage  \
0              1.0            2.0            Semifinals
1              NaN            NaN            Semifinals
2              4.0           10.0                 Final
3              4.0            0.0      Final Tournament
4              1.0            0.0      Final Tournament
..             ...            ...                   ...
619            2.0            1.0           Semi-finals
620            0.0            1.0  Third place play-off
621            0.0            1.0                 Final
622            2.0            1.0               Group A
623            3.0            2.0               Group B

                                  SpecialWinConditions  \
0                                                  NaN
1    Ethiopia  wins due to disqualification of othe...
2                                                  NaN
3                                                  NaN
4                                                  NaN
..                                                 ...
619                                                NaN
620                                                NaN
621                                                NaN
622
623

                         Stadium       City  Attendance NewColumn       Date  \
0              Municipal Stadium   Khartoum     30000.0      None        NaN
1                            NaN        NaN         NaN      None        NaN
2              Municipal Stadium   Khartoum     30000.0      None        NaN
3          Prince Farouk Stadium      Cairo     30000.0      None        NaN
4          Prince Farouk Stadium      Cairo     20000.0      None        NaN
..                           ...        ...         ...       ...        ...
619  Cairo International Stadium      Cairo     49775.0      None        NaN
620             Al Salam Stadium      Cairo      6340.0      None        NaN
621  Cairo International Stadium      Cairo     75000.0      None        NaN
622         Stade Chedli Zouiten      Tunis     20000.0      None  22-Nov-65
623            Stade Ahmed Bsiri    Bizerte     15000.0      None  22-Nov-65

    Time
0    NaN
1    NaN
2    NaN
3    NaN
4    NaN
..   ...
619  NaN
620  NaN
621  NaN
622
623

[624 rows x 15 columns]

In [20]:
"""
14.	Write a Pandas program to reset index in your DataFrame.
"""

# Reset the index
df = df.reset_index(drop=True)

# Print the DataFrame with the reset index
print(df)

     Year                      Date   Time    HomeTeam       AwayTeam  \
0    1957                  10-Feb-57    NaN     Sudan           Egypt
1    1957                  10-Feb-57    NaN  Ethiopia    South Africa
2    1957                  16-Feb-57    NaN     Egypt        Ethiopia
3    1959                  22-May-59    NaN      Egypt       Ethiopia
4    1959                  25-May-59    NaN     Sudan        Ethiopia
..    ...                        ...    ...        ...            ...
619  2019  14 July 2019 (2019-07-14)  21:00   Algeria         Nigeria
620  2019  17 July 2019 (2019-07-17)  21:00   Tunisia         Nigeria
621  2019  19 July 2019 (2019-07-19)  21:00   Senegal         Algeria
622  1965                        NaN    NaN    Tunisia        Senegal
623  1965                        NaN    NaN      Ghana    Ivory Coast

     HomeTeamGoals  AwayTeamGoals                 Stage  \
0              1.0            2.0            Semifinals
1              NaN            NaN            Semifinals
2              4.0           10.0                 Final
3              4.0            0.0      Final Tournament
4              1.0            0.0      Final Tournament
..             ...            ...                   ...
619            2.0            1.0           Semi-finals
620            0.0            1.0  Third place play-off
621            0.0            1.0                 Final
622            2.0            1.0               Group A
623            3.0            2.0               Group B

                                  SpecialWinConditions  \
0                                                  NaN
1    Ethiopia  wins due to disqualification of othe...
2                                                  NaN
3                                                  NaN
4                                                  NaN
..                                                 ...
619                                                NaN
620                                                NaN
621                                                NaN
622
623

                         Stadium       City  Attendance NewColumn       Date  \
0              Municipal Stadium   Khartoum     30000.0      None        NaN
1                            NaN        NaN         NaN      None        NaN
2              Municipal Stadium   Khartoum     30000.0      None        NaN
3          Prince Farouk Stadium      Cairo     30000.0      None        NaN
4          Prince Farouk Stadium      Cairo     20000.0      None        NaN
..                           ...        ...         ...       ...        ...
619  Cairo International Stadium      Cairo     49775.0      None        NaN
620             Al Salam Stadium      Cairo      6340.0      None        NaN
621  Cairo International Stadium      Cairo     75000.0      None        NaN
622         Stade Chedli Zouiten      Tunis     20000.0       NaN  22-Nov-65
623            Stade Ahmed Bsiri    Bizerte     15000.0       NaN  22-Nov-65

    Time
0    NaN
1    NaN
2    NaN
3    NaN
4    NaN
..   ...
619  NaN
620  NaN
621  NaN
622
623

[624 rows x 15 columns]

In [21]:
"""
15.	Write a Pandas program to check whether the ‘Stadium’ column is present in your DataFrame or not.
"""

# Check if 'Stadium' column is present
if 'Stadium' in df.columns:
    print("'Stadium' column is present in the DataFrame.")
else:
    print("'Stadium' column is not present in the DataFrame.")

'Stadium' column is present in the DataFrame.

In [22]:
"""
16.	Write a Pandas program to convert the datatype of the ‘AwayTeamGoals’. (int to float)
"""
# Convert 'AwayTeamGoals' column from int to float
df['AwayTeamGoals'] = df['AwayTeamGoals'].astype(float)

# Print the updated DataFrame with the converted column
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 624 entries, 0 to 623
Data columns (total 15 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Year                  624 non-null    int64
 1   Date                  622 non-null    object
 2   Time                  333 non-null    object
 3   HomeTeam              624 non-null    object
 4   AwayTeam              624 non-null    object
 5   HomeTeamGoals         620 non-null    float64
 6   AwayTeamGoals         620 non-null    float64
 7   Stage                 624 non-null    object
 8   SpecialWinConditions  58 non-null     object
 9   Stadium               620 non-null    object
 10  City                  620 non-null    object
 11  Attendance            524 non-null    float64
 12  NewColumn             0 non-null      object
 13  Date                  2 non-null      object
 14  Time                  2 non-null      object
dtypes: float64(3), int64(1), object(11)
memory usage: 73.2+ KB

In [23]:
"""
17.	Write a Pandas program to remove the last 10 rows from your DataFrame.
"""
# Remove the last 10 rows
df = df[:-10]

# Print the updated DataFrame
print(df.shape)

(614, 15)

In [24]:
"""
18.	Write a Pandas program to iterate over rows in your DataFrame.
"""
# Iterate over rows in the DataFrame
for index, row in df.iterrows():
    # Access values of each column for the current row
    year = row['Year']
    date = row['Date']
    home_team = row['HomeTeam']
    away_team = row['AwayTeam']
    home_goals = row['HomeTeamGoals']
    away_goals = row['AwayTeamGoals']

    
    print(f"Row {index}: {home_team} vs {away_team}, {home_goals}-{away_goals}, {date}, {year}")

Row 0: Sudan  vs  Egypt, 1.0-2.0, nan, 1957
Row 1: Ethiopia  vs  South Africa, nan-nan, nan, 1957
Row 2: Egypt  vs  Ethiopia, 4.0-10.0, nan, 1957
Row 3: Egypt vs  Ethiopia, 4.0-0.0, nan, 1959
Row 4: Sudan  vs  Ethiopia, 1.0-0.0, nan, 1959
Row 5: Egypt vs  Sudan, 2.0-1.0, nan, 1959
Row 6: Ethiopia  vs  Tunisia, 4.0-2.0, nan, 1962
Row 7: Egypt vs  Uganda, 2.0-1.0, nan, 1962
Row 8: Tunisia  vs  Uganda, 3.0-0.0, nan, 1962
Row 9: Ethiopia  vs Egypt, 4.0-2.0, nan, 1962
Row 10: Ghana  vs  Tunisia, 1.0-1.0, nan, 1963
Row 11: Ghana  vs  Ethiopia, 2.0-0.0, nan, 1963
Row 12: Ethiopia  vs  Tunisia, 4.0-2.0, nan, 1963
Row 13: Egypt vs  Nigeria, 6.0-3.0, nan, 1963
Row 14: Egypt vs  Sudan, 2.0-2.0, nan, 1963
Row 15: Sudan  vs  Nigeria, 4.0-0.0, nan, 1963
Row 16: Egypt vs  Ethiopia, 3.0-0.0, nan, 1963
Row 17: Ghana  vs  Sudan, 3.0-0.0, nan, 1963
Row 18: Tunisia  vs  Ethiopia, 4.0-0.0, nan, 1965
Row 19: Senegal  vs  Tunisia, 0.0-0.0, nan, 1965
Row 20: Senegal  vs  Ethiopia, 5.0-1.0, nan, 1965
Row 21: Ghana  vs  Congo-Léopoldville, 5.0-2.0, nan, 1965
Row 22: Ivory Coast  vs  Congo-Léopoldville, 3.0-0.0, nan, 1965
Row 23: Ghana  vs  Ivory Coast, 4.0-1.0, nan, 1965
Row 24: Senegal  vs  Ivory Coast, 0.0-1.0, nan, 1965
Row 25: Ghana  vs  Tunisia, 3.0-2.0, nan, 1965
Row 26: Ethiopia  vs  Uganda, 2.0-1.0, nan, 1968
Row 27: Ivory Coast  vs  Algeria, 3.0-0.0, nan, 1968
Row 28: Ethiopia  vs  Ivory Coast, 1.0-0.0, nan, 1968
Row 29: Algeria  vs  Uganda, 4.0-0.0, nan, 1968
Row 30: Ivory Coast  vs  Uganda, 2.0-1.0, nan, 1968
Row 31: Ethiopia  vs  Algeria, 3.0-1.0, nan, 1968
Row 32: Ghana  vs  Senegal, 2.0-2.0, nan, 1968
Row 33: Congo-Kinshasa  vs  Congo-Brazzaville, 3.0-0.0, nan, 1968
Row 34: Senegal  vs  Congo-Brazzaville, 2.0-1.0, nan, 1968
Row 35: Ghana  vs  Congo-Kinshasa, 2.0-1.0, nan, 1968
Row 36: Congo-Kinshasa  vs  Senegal, 2.0-1.0, nan, 1968
Row 37: Ghana  vs  Congo-Brazzaville, 3.0-1.0, nan, 1968
Row 38: Ethiopia  vs  Congo-Kinshasa, 2.0-3.0, nan, 1968
Row 39: Ghana  vs  Ivory Coast, 4.0-3.0, nan, 1968
Row 40: Ivory Coast  vs  Ethiopia, 1.0-0.0, nan, 1968
Row 41: Congo-Kinshasa  vs  Ghana, 1.0-0.0, nan, 1968
Row 42: Cameroon  vs  Ivory Coast, 3.0-2.0, nan, 1970
Row 43: Sudan  vs  Ethiopia, 3.0-0.0, nan, 1970
Row 44: Cameroon  vs  Ethiopia, 3.0-2.0, nan, 1970
Row 45: Ivory Coast  vs  Sudan, 1.0-0.0, nan, 1970
Row 46: Ivory Coast  vs  Ethiopia, 6.0-1.0, nan, 1970
Row 47: Sudan  vs  Cameroon, 2.0-1.0, nan, 1970
Row 48: Ghana  vs  Congo-Kinshasa, 2.0-0.0, nan, 1970
Row 49: United Arab Rep.  vs  Guinea, 4.0-1.0, nan, 1970
Row 50: Congo-Kinshasa  vs  Guinea, 2.0-2.0, nan, 1970
Row 51: United Arab Rep.  vs  Ghana, 1.0-1.0, nan, 1970
Row 52: Guinea  vs  Ghana, 1.0-1.0, nan, 1970
Row 53: United Arab Rep.  vs  Congo-Kinshasa, 1.0-0.0, nan, 1970
Row 54: Ivory Coast  vs  Ghana, 1.0-2.0, nan, 1970
Row 55: United Arab Rep.  vs  Sudan, 1.0-2.0, nan, 1970
Row 56: United Arab Rep.  vs  Ivory Coast, 3.0-1.0, nan, 1970
Row 57: Sudan  vs  Ghana, 1.0-0.0, nan, 1970
Row 58: Cameroon  vs  Kenya, 2.0-1.0, nan, 1972
Row 59: Mali  vs  Togo, 3.0-3.0, nan, 1972
Row 60: Mali  vs  Kenya, 1.0-1.0, nan, 1972
Row 61: Cameroon  vs  Togo, 2.0-0.0, nan, 1972
Row 62: Togo  vs  Kenya, 1.0-1.0, nan, 1972
Row 63: Cameroon  vs  Mali, 1.0-1.0, nan, 1972
Row 64: Congo  vs  Morocco, 1.0-1.0, nan, 1972
Row 65: Zaire  vs  Sudan, 1.0-1.0, nan, 1972
Row 66: Morocco  vs  Sudan, 1.0-1.0, nan, 1972
Row 67: Zaire  vs  Congo, 2.0-0.0, nan, 1972
Row 68: Morocco  vs  Zaire, 1.0-1.0, nan, 1972
Row 69: Congo  vs  Sudan, 4.0-2.0, nan, 1972
Row 70: Cameroon  vs  Congo, 0.0-1.0, nan, 1972
Row 71: Zaire  vs  Mali, 3.0-4.0, nan, 1972
Row 72: Cameroon  vs  Zaire, 5.0-2.0, nan, 1972
Row 73: Congo  vs  Mali, 3.0-2.0, nan, 1972
Row 74: Egypt  vs  Uganda, 2.0-1.0, nan, 1974
Row 75: Zambia  vs  Ivory Coast, 1.0-0.0, nan, 1974
Row 76: Egypt  vs  Zambia, 3.0-1.0, nan, 1974
Row 77: Ivory Coast  vs  Uganda, 2.0-2.0, nan, 1974
Row 78: Egypt  vs  Ivory Coast, 2.0-0.0, nan, 1974
Row 79: Zambia  vs  Uganda, 1.0-0.0, nan, 1974
Row 80: Zaire  vs  Guinea, 2.0-1.0, nan, 1974
Row 81: Congo  vs  Mauritius, 2.0-0.0, nan, 1974
Row 82: Guinea  vs  Mauritius, 2.0-1.0, nan, 1974
Row 83: Congo  vs  Zaire, 2.0-1.0, nan, 1974
Row 84: Congo  vs  Guinea, 1.0-1.0, nan, 1974
Row 85: Zaire  vs  Mauritius, 4.0-1.0, nan, 1974
Row 86: Egypt  vs  Zaire, 2.0-3.0, nan, 1974
Row 87: Congo  vs  Zambia, 2.0-4.0, nan, 1974
Row 88: Congo  vs  Egypt, 0.0-4.0, nan, 1974
Row 89: Zaire  vs  Zambia, 2.0-2.0, nan, 1974
Row 90: Zaire  vs  Zambia, 2.0-0.0, nan, 1974
Row 91: Ethiopia  vs  Uganda, 2.0-0.0, nan, 1976
Row 92: Egypt  vs  Guinea, 1.0-1.0, nan, 1976
Row 93: Egypt  vs  Uganda, 2.0-1.0, nan, 1976
Row 94: Ethiopia  vs  Guinea, 1.0-2.0, nan, 1976
Row 95: Guinea  vs  Uganda, 2.0-1.0, nan, 1976
Row 96: Ethiopia  vs  Egypt, 1.0-1.0, nan, 1976
Row 97: Nigeria  vs  Zaire, 4.0-2.0, nan, 1976
Row 98: Morocco  vs  Sudan, 2.0-2.0, nan, 1976
Row 99: Nigeria  vs  Sudan, 1.0-0.0, nan, 1976
Row 100: Morocco  vs  Zaire, 1.0-0.0, nan, 1976
Row 101: Morocco  vs  Nigeria, 3.0-1.0, nan, 1976
Row 102: Zaire  vs  Sudan, 1.0-1.0, nan, 1976
Row 103: Guinea  vs  Nigeria, 1.0-1.0, nan, 1976
Row 104: Morocco  vs  Egypt, 2.0-1.0, nan, 1976
Row 105: Morocco  vs  Nigeria, 2.0-1.0, nan, 1976
Row 106: Guinea  vs  Egypt, 4.0-2.0, nan, 1976
Row 107: Nigeria  vs  Egypt, 3.0-2.0, nan, 1976
Row 108: Guinea  vs  Morocco, 1.0-1.0, nan, 1976
Row 109: Ghana  vs  Zambia, 2.0-1.0, nan, 1978
Row 110: Nigeria  vs  Upper Volta, 4.0-2.0, nan, 1978
Row 111: Zambia  vs  Upper Volta, 2.0-0.0, nan, 1978
Row 112: Nigeria  vs  Ghana, 1.0-1.0, nan, 1978
Row 113: Zambia  vs  Nigeria, 0.0-0.0, nan, 1978
Row 114: Ghana  vs  Upper Volta, 3.0-0.0, nan, 1978
Row 115: Morocco  vs  Tunisia, 1.0-1.0, nan, 1978
Row 116: Uganda  vs  Congo, 3.0-1.0, nan, 1978
Row 117: Tunisia  vs  Uganda, 3.0-1.0, nan, 1978
Row 118: Morocco  vs  Congo, 1.0-0.0, nan, 1978
Row 119: Congo  vs  Tunisia, 0.0-0.0, nan, 1978
Row 120: Uganda  vs  Morocco, 3.0-0.0, nan, 1978
Row 121: Ghana  vs  Tunisia, 1.0-0.0, nan, 1978
Row 122: Uganda  vs  Nigeria, 2.0-1.0, nan, 1978
Row 123: Nigeria  vs  Tunisia, 1.0-11.0, nan, 1978
Row 124: Ghana  vs  Uganda, 2.0-0.0, nan, 1978
Row 125: Nigeria  vs  Tanzania, 3.0-1.0, nan, 1980
Row 126: Egypt  vs  Ivory Coast, 2.0-1.0, nan, 1980
Row 127: Egypt  vs  Tanzania, 2.0-1.0, nan, 1980
Row 128: Nigeria  vs  Ivory Coast, 0.0-0.0, nan, 1980
Row 129: Ivory Coast  vs  Tanzania, 1.0-1.0, nan, 1980
Row 130: Nigeria  vs  Egypt, 1.0-0.0, nan, 1980
Row 131: Ghana  vs  Algeria, 0.0-0.0, nan, 1980
Row 132: Morocco  vs  Guinea, 1.0-1.0, nan, 1980
Row 133: Algeria  vs  Morocco, 1.0-0.0, nan, 1980
Row 134: Ghana  vs  Guinea, 1.0-0.0, nan, 1980
Row 135: Algeria  vs  Guinea, 3.0-2.0, nan, 1980
Row 136: Morocco  vs  Ghana, 1.0-0.0, nan, 1980
Row 137: Nigeria  vs  Morocco, 1.0-0.0, nan, 1980
Row 138: Algeria  vs  Egypt, 2.0-2.0, nan, 1980
Row 139: Morocco  vs  Egypt, 2.0-0.0, nan, 1980
Row 140: Nigeria  vs  Algeria, 3.0-0.0, nan, 1980
Row 141: Libya  vs  Ghana, 2.0-2.0, nan, 1982
Row 142: Cameroon  vs  Tunisia, 1.0-1.0, nan, 1982
Row 143: Cameroon  vs  Ghana, 0.0-0.0, nan, 1982
Row 144: Libya  vs  Tunisia, 2.0-0.0, nan, 1982
Row 145: Ghana  vs  Tunisia, 1.0-0.0, nan, 1982
Row 146: Libya  vs  Cameroon, 0.0-0.0, nan, 1982
Row 147: Nigeria  vs  Ethiopia, 3.0-0.0, nan, 1982
Row 148: Algeria  vs  Zambia, 1.0-0.0, nan, 1982
Row 149: Zambia  vs  Ethiopia, 1.0-0.0, nan, 1982
Row 150: Algeria  vs  Nigeria, 2.0-1.0, nan, 1982
Row 151: Algeria  vs  Ethiopia, 0.0-0.0, nan, 1982
Row 152: Zambia  vs  Nigeria, 3.0-0.0, nan, 1982
Row 153: Ghana  vs  Algeria, 3.0-2.0, nan, 1982
Row 154: Libya  vs  Zambia, 2.0-1.0, nan, 1982
Row 155: Zambia  vs  Algeria, 2.0-0.0, nan, 1982
Row 156: Ghana  vs  Libya, 1.0-1.0, nan, 1982
Row 157: Ivory Coast  vs  Togo, 3.0-0.0, nan, 1984
Row 158: Egypt  vs  Cameroon, 1.0-0.0, nan, 1984
Row 159: Cameroon  vs  Togo, 4.0-1.0, nan, 1984
Row 160: Ivory Coast  vs  Egypt, 1.0-2.0, nan, 1984
Row 161: Egypt  vs  Togo, 0.0-0.0, nan, 1984
Row 162: Ivory Coast  vs  Cameroon, 0.0-2.0, nan, 1984
Row 163: Ghana  vs  Nigeria, 1.0-2.0, nan, 1984
Row 164: Algeria  vs  Malawi, 3.0-0.0, nan, 1984
Row 165: Malawi  vs  Nigeria, 2.0-2.0, nan, 1984
Row 166: Algeria  vs  Ghana, 2.0-0.0, nan, 1984
Row 167: Algeria  vs  Nigeria, 0.0-0.0, nan, 1984
Row 168: Ghana  vs  Malawi, 1.0-0.0, nan, 1984
Row 169: Egypt  vs  Nigeria, 2.0-2.0, nan, 1984
Row 170: Algeria  vs  Cameroon, 0.0-0.0, nan, 1984
Row 171: Algeria  vs  Egypt, 3.0-1.0, nan, 1984
Row 172: Cameroon  vs  Nigeria, 3.0-1.0, nan, 1984
Row 173: Senegal  vs  Egypt, 1.0-0.0, nan, 1986
Row 174: Ivory Coast  vs  Mozambique, 3.0-0.0, nan, 1986
Row 175: Senegal  vs  Mozambique, 2.0-0.0, nan, 1986
Row 176: Egypt  vs  Ivory Coast, 2.0-0.0, nan, 1986
Row 177: Ivory Coast  vs  Senegal, 1.0-0.0, nan, 1986
Row 178: Egypt  vs  Mozambique, 2.0-0.0, nan, 1986
Row 179: Algeria  vs  Morocco, 0.0-0.0, nan, 1986
Row 180: Cameroon  vs  Zambia, 3.0-2.0, nan, 1986
Row 181: Algeria  vs  Zambia, 0.0-0.0, nan, 1986
Row 182: Cameroon  vs  Morocco, 1.0-1.0, nan, 1986
Row 183: Morocco  vs  Zambia, 1.0-0.0, nan, 1986
Row 184: Cameroon  vs  Algeria, 3.0-2.0, nan, 1986
Row 185: Cameroon  vs  Ivory Coast, 1.0-0.0, nan, 1986
Row 186: Egypt  vs  Morocco, 1.0-0.0, nan, 1986
Row 187: Ivory Coast  vs  Morocco, 3.0-2.0, nan, 1986
Row 188: Egypt  vs  Cameroon, 0.0-0.0, nan, 1986
Row 189: Morocco  vs  Zaire, 1.0-1.0, nan, 1988
Row 190: Ivory Coast  vs  Algeria, 1.0-1.0, nan, 1988
Row 191: Ivory Coast  vs  Zaire, 1.0-1.0, nan, 1988
Row 192: Morocco  vs  Algeria, 1.0-0.0, nan, 1988
Row 193: Algeria  vs  Zaire, 1.0-0.0, nan, 1988
Row 194: Morocco  vs  Ivory Coast, 0.0-0.0, nan, 1988
Row 195: Cameroon  vs  Egypt, 1.0-0.0, nan, 1988
Row 196: Nigeria  vs  Kenya, 3.0-0.0, nan, 1988
Row 197: Cameroon  vs  Nigeria, 1.0-1.0, nan, 1988
Row 198: Egypt  vs  Kenya, 3.0-0.0, nan, 1988
Row 199: Cameroon  vs  Kenya, 0.0-0.0, nan, 1988
Row 200: Nigeria  vs  Egypt, 0.0-0.0, nan, 1988
Row 201: Nigeria  vs  Algeria, 1.0-1.0, nan, 1988
Row 202: Morocco  vs  Cameroon, 0.0-1.0, nan, 1988
Row 203: Morocco  vs  Algeria, 1.0-1.0, nan, 1988
Row 204: Cameroon  vs  Nigeria, 1.0-0.0, nan, 1988
Row 205: Algeria  vs  Nigeria, 5.0-1.0, nan, 1990
Row 206: Ivory Coast  vs  Egypt, 3.0-1.0, nan, 1990
Row 207: Nigeria  vs  Egypt, 1.0-0.0, nan, 1990
Row 208: Algeria  vs  Ivory Coast, 3.0-0.0, nan, 1990
Row 209: Nigeria  vs  Ivory Coast, 1.0-0.0, nan, 1990
Row 210: Algeria  vs  Egypt, 2.0-0.0, nan, 1990
Row 211: Zambia  vs  Cameroon, 1.0-0.0, nan, 1990
Row 212: Senegal  vs  Kenya, 0.0-0.0, nan, 1990
Row 213: Zambia  vs  Kenya, 1.0-0.0, nan, 1990
Row 214: Senegal  vs  Cameroon, 2.0-0.0, nan, 1990
Row 215: Zambia  vs  Senegal, 0.0-0.0, nan, 1990
Row 216: Cameroon  vs  Kenya, 2.0-0.0, nan, 1990
Row 217: Zambia  vs  Nigeria, 0.0-2.0, nan, 1990
Row 218: Algeria  vs  Senegal, 2.0-1.0, nan, 1990
Row 219: Zambia  vs  Senegal, 1.0-0.0, nan, 1990
Row 220: Algeria  vs  Nigeria, 1.0-0.0, nan, 1990
Row 221: Nigeria  vs  Senegal, 2.0-1.0, nan, 1992
Row 222: Nigeria  vs  Kenya, 2.0-1.0, nan, 1992
Row 223: Senegal  vs  Kenya, 3.0-0.0, nan, 1992
Row 224: Cameroon  vs  Morocco, 1.0-0.0, nan, 1992
Row 225: Morocco  vs  Zaire, 1.0-1.0, nan, 1992
Row 226: Cameroon  vs  Zaire, 1.0-1.0, nan, 1992
Row 227: Ivory Coast  vs  Algeria, 3.0-0.0, nan, 1992
Row 228: Ivory Coast  vs  Congo, 0.0-0.0, nan, 1992
Row 229: Algeria  vs  Congo, 1.0-1.0, nan, 1992
Row 230: Zambia  vs  Egypt, 1.0-0.0, nan, 1992
Row 231: Ghana  vs  Zambia, 1.0-0.0, nan, 1992
Row 232: Ghana  vs  Egypt, 1.0-0.0, nan, 1992
Row 233: Nigeria  vs  Zaire, 1.0-0.0, nan, 1992
Row 234: Cameroon  vs  Senegal, 1.0-0.0, nan, 1992
Row 235: Ivory Coast  vs  Zambia, 1.0-0.0, nan, 1992
Row 236: Ghana  vs  Congo, 2.0-1.0, nan, 1992
Row 237: Ghana  vs  Nigeria, 2.0-1.0, nan, 1992
Row 238: Cameroon  vs  Ivory Coast, 0.0-0.0, nan, 1992
Row 239: Nigeria  vs  Cameroon, 2.0-1.0, nan, 1992
Row 240: Ivory Coast  vs  Ghana, 0.0-0.0, nan, 1992
Row 241: Tunisia  vs  Mali, 0.0-2.0, nan, 1994
Row 242: Mali  vs  Zaire, 0.0-1.0, nan, 1994
Row 243: Tunisia  vs  Zaire, 1.0-1.0, nan, 1994
Row 244: Nigeria  vs  Gabon, 3.0-0.0, nan, 1994
Row 245: Egypt  vs  Gabon, 4.0-0.0, nan, 1994
Row 246: Nigeria  vs  Egypt, 0.0-0.0, nan, 1994
Row 247: Ivory Coast  vs  Sierra Leone, 4.0-0.0, nan, 1994
Row 248: Zambia  vs  Sierra Leone, 0.0-0.0, nan, 1994
Row 249: Zambia  vs  Ivory Coast, 1.0-0.0, nan, 1994
Row 250: Ghana  vs  Guinea, 1.0-0.0, nan, 1994
Row 251: Senegal  vs  Guinea, 2.0-1.0, nan, 1994
Row 252: Ghana  vs  Senegal, 1.0-0.0, nan, 1994
Row 253: Zaire  vs  Nigeria, 0.0-2.0, nan, 1994
Row 254: Egypt  vs  Mali, 0.0-1.0, nan, 1994
Row 255: Zambia  vs  Senegal, 1.0-0.0, nan, 1994
Row 256: Ghana  vs  Ivory Coast, 1.0-2.0, nan, 1994
Row 257: Nigeria  vs  Ivory Coast, 2.0-2.0, nan, 1994
Row 258: Zambia  vs  Mali, 4.0-0.0, nan, 1994
Row 259: Ivory Coast  vs  Mali, 3.0-1.0, nan, 1994
Row 260: Nigeria  vs  Zambia, 2.0-1.0, nan, 1994
Row 261: South Africa  vs  Cameroon, 3.0-0.0, nan, 1996
Row 262: Egypt  vs  Angola, 2.0-1.0, nan, 1996
Row 263: Cameroon  vs  Egypt, 2.0-1.0, nan, 1996
Row 264: South Africa  vs  Angola, 1.0-0.0, nan, 1996
Row 265: South Africa  vs  Egypt, 0.0-1.0, nan, 1996
Row 266: Angola  vs  Cameroon, 3.0-3.0, nan, 1996
Row 267: Zambia  vs  Algeria, 0.0-0.0, nan, 1996
Row 268: Sierra Leone  vs  Burkina Faso, 2.0-1.0, nan, 1996
Row 269: Algeria  vs  Sierra Leone, 2.0-0.0, nan, 1996
Row 270: Zambia  vs  Burkina Faso, 5.0-1.0, nan, 1996
Row 271: Algeria  vs  Burkina Faso, 2.0-1.0, nan, 1996
Row 272: Zambia  vs  Sierra Leone, 4.0-0.0, nan, 1996
Row 273: Gabon  vs  Liberia, 1.0-2.0, nan, 1996
Row 274: Gabon  vs  Zaire, 2.0-0.0, nan, 1996
Row 275: Zaire  vs  Liberia, 2.0-0.0, nan, 1996
Row 276: Ghana  vs  Ivory Coast, 2.0-0.0, nan, 1996
Row 277: Tunisia  vs  Mozambique, 1.0-1.0, nan, 1996
Row 278: Ghana  vs  Tunisia, 2.0-1.0, nan, 1996
Row 279: Ivory Coast  vs  Mozambique, 1.0-0.0, nan, 1996
Row 280: Tunisia  vs  Ivory Coast, 3.0-1.0, nan, 1996
Row 281: Ghana  vs  Mozambique, 2.0-0.0, nan, 1996
Row 282: South Africa  vs  Algeria, 2.0-1.0, nan, 1996
Row 283: Zambia  vs  Egypt, 3.0-1.0, nan, 1996
Row 284: Gabon  vs  Tunisia, 1.0-1.0, nan, 1996
Row 285: Ghana  vs  Zaire, 1.0-0.0, nan, 1996
Row 286: South Africa  vs  Ghana, 3.0-0.0, nan, 1996
Row 287: Zambia  vs  Tunisia, 2.0-4.0, nan, 1996
Row 288: Ghana  vs  Zambia, 0.0-1.0, nan, 1996
Row 289: South Africa  vs  Tunisia, 2.0-0.0, nan, 1996
Row 290: Burkina Faso  vs  Cameroon, 0.0-1.0, nan, 1998
Row 291: Algeria  vs  Guinea, 0.0-1.0, nan, 1998
Row 292: Cameroon  vs  Guinea, 2.0-2.0, nan, 1998
Row 293: Burkina Faso  vs  Algeria, 2.0-1.0, nan, 1998
Row 294: Burkina Faso  vs  Guinea, 1.0-0.0, nan, 1998
Row 295: Cameroon  vs  Algeria, 2.0-1.0, nan, 1998
Row 296: DR Congo  vs  Togo, 2.0-1.0, nan, 1998
Row 297: Ghana  vs  Tunisia, 2.0-0.0, nan, 1998
Row 298: Tunisia  vs  DR Congo, 2.0-1.0, nan, 1998
Row 299: Togo  vs  Ghana, 2.0-1.0, nan, 1998
Row 300: DR Congo  vs  Ghana, 1.0-0.0, nan, 1998
Row 301: Tunisia  vs  Togo, 3.0-1.0, nan, 1998
Row 302: South Africa  vs  Angola, 0.0-0.0, nan, 1998
Row 303: Ivory Coast  vs  Namibia, 4.0-3.0, nan, 1998
Row 304: Ivory Coast  vs  South Africa, 1.0-1.0, nan, 1998
Row 305: Angola  vs  Namibia, 3.0-3.0, nan, 1998
Row 306: Ivory Coast  vs  Angola, 5.0-2.0, nan, 1998
Row 307: South Africa  vs  Namibia, 4.0-1.0, nan, 1998
Row 308: Morocco  vs  Zambia, 1.0-1.0, nan, 1998
Row 309: Egypt  vs  Mozambique, 2.0-0.0, nan, 1998
Row 310: Egypt  vs  Zambia, 4.0-0.0, nan, 1998
Row 311: Morocco  vs  Mozambique, 3.0-0.0, nan, 1998
Row 312: Zambia  vs  Mozambique, 3.0-1.0, nan, 1998
Row 313: Morocco  vs  Egypt, 1.0-0.0, nan, 1998
Row 314: Cameroon  vs  DR Congo, 0.0-1.0, nan, 1998
Row 315: Tunisia  vs  Burkina Faso, 1.0-1.0, nan, 1998
Row 316: Ivory Coast  vs  Egypt, 0.0-0.0, nan, 1998
Row 317: Morocco  vs  South Africa, 1.0-2.0, nan, 1998
Row 318: DR Congo  vs  South Africa, 1.0-2.0, nan, 1998
Row 319: Burkina Faso  vs  Egypt, 0.0-2.0, nan, 1998
Row 320: DR Congo  vs  Burkina Faso, 4.0-4.0, nan, 1998
Row 321: South Africa  vs  Egypt, 0.0-2.0, nan, 1998
Row 322: Ghana  vs  Cameroon, 1.0-1.0, nan, 2000
Row 323: Ivory Coast  vs  Togo, 1.0-1.0, nan, 2000
Row 324: Ghana  vs  Togo, 2.0-0.0, nan, 2000
Row 325: Cameroon  vs  Ivory Coast, 3.0-0.0, nan, 2000
Row 326: Ghana  vs  Ivory Coast, 0.0-2.0, nan, 2000
Row 327: Cameroon  vs  Togo, 0.0-1.0, nan, 2000
Row 328: South Africa  vs  Gabon, 3.0-1.0, nan, 2000
Row 329: DR Congo  vs  Algeria, 0.0-0.0, nan, 2000
Row 330: South Africa  vs  DR Congo, 1.0-0.0, nan, 2000
Row 331: Algeria  vs  Gabon, 3.0-1.0, nan, 2000
Row 332: South Africa  vs  Algeria, 1.0-1.0, nan, 2000
Row 333: DR Congo  vs  Gabon, 0.0-0.0, nan, 2000
Row 334: Egypt  vs  Zambia, 2.0-0.0, nan, 2000
Row 335: Burkina Faso  vs  Senegal, 1.0-3.0, nan, 2000
Row 336: Egypt  vs  Senegal, 1.0-0.0, nan, 2000
Row 337: Zambia  vs  Burkina Faso, 1.0-1.0, nan, 2000
Row 338: Egypt  vs  Burkina Faso, 4.0-2.0, nan, 2000
Row 339: Zambia  vs  Senegal, 2.0-2.0, nan, 2000
Row 340: Nigeria  vs  Tunisia, 4.0-2.0, nan, 2000
Row 341: Morocco  vs  Congo, 1.0-0.0, nan, 2000
Row 342: Nigeria  vs  Congo, 0.0-0.0, nan, 2000
Row 343: Tunisia  vs  Morocco, 0.0-0.0, nan, 2000
Row 344: Nigeria  vs  Morocco, 2.0-0.0, nan, 2000
Row 345: Tunisia  vs  Congo, 1.0-0.0, nan, 2000
Row 346: Cameroon  vs  Algeria, 2.0-1.0, nan, 2000
Row 347: South Africa  vs  Ghana, 1.0-0.0, nan, 2000
Row 348: Egypt  vs  Tunisia, 0.0-1.0, nan, 2000
Row 349: Nigeria  vs  Senegal, 2.0-1.0, nan, 2000
Row 350: Nigeria  vs  South Africa, 2.0-0.0, nan, 2000
Row 351: Cameroon  vs  Tunisia, 3.0-0.0, nan, 2000
Row 352: South Africa  vs  Tunisia, 2.0-2.0, nan, 2000
Row 353: Nigeria  vs  Cameroon, 2.0-2.0, nan, 2000
Row 354: Mali  vs  Liberia, 1.0-1.0, nan, 2002
Row 355: Algeria  vs  Nigeria, 0.0-1.0, nan, 2002
Row 356: Mali  vs  Nigeria, 0.0-0.0, nan, 2002
Row 357: Liberia  vs  Algeria, 2.0-2.0, nan, 2002
Row 358: Mali  vs  Algeria, 2.0-0.0, nan, 2002
Row 359: Liberia  vs  Nigeria, 0.0-1.0, nan, 2002
Row 360: South Africa  vs  Burkina Faso, 0.0-0.0, nan, 2002
Row 361: Morocco  vs  Ghana, 0.0-0.0, nan, 2002
Row 362: South Africa  vs  Ghana, 0.0-0.0, nan, 2002
Row 363: Burkina Faso  vs  Morocco, 1.0-2.0, nan, 2002
Row 364: South Africa  vs  Morocco, 3.0-1.0, nan, 2002
Row 365: Burkina Faso  vs  Ghana, 1.0-2.0, nan, 2002
Row 366: Cameroon  vs  DR Congo, 1.0-0.0, nan, 2002
Row 367: Togo  vs  Ivory Coast, 0.0-0.0, nan, 2002
Row 368: Cameroon  vs  Ivory Coast, 1.0-0.0, nan, 2002
Row 369: DR Congo  vs  Togo, 0.0-0.0, nan, 2002
Row 370: Cameroon  vs  Togo, 3.0-0.0, nan, 2002
Row 371: DR Congo  vs  Ivory Coast, 3.0-1.0, nan, 2002
Row 372: Egypt  vs  Senegal, 0.0-1.0, nan, 2002
Row 373: Zambia  vs  Tunisia, 0.0-0.0, nan, 2002
Row 374: Egypt  vs  Tunisia, 1.0-0.0, nan, 2002
Row 375: Senegal  vs  Zambia, 1.0-0.0, nan, 2002
Row 376: Egypt  vs  Zambia, 2.0-1.0, nan, 2002
Row 377: Senegal  vs  Tunisia, 0.0-0.0, nan, 2002
Row 378: South Africa  vs  Mali, 0.0-2.0, nan, 2002
Row 379: Nigeria  vs  Ghana, 1.0-0.0, nan, 2002
Row 380: Cameroon  vs  Egypt, 1.0-0.0, nan, 2002
Row 381: Senegal  vs  DR Congo, 2.0-0.0, nan, 2002
Row 382: Nigeria  vs  Senegal, 1.0-2.0, nan, 2002
Row 383: Mali  vs  Cameroon, 0.0-3.0, nan, 2002
Row 384: Nigeria  vs  Mali, 1.0-0.0, nan, 2002
Row 385: Senegal  vs  Cameroon, 0.0-0.0, nan, 2002
Row 386: Tunisia  vs  Rwanda, 2.0-1.0, nan, 2004
Row 387: DR Congo  vs  Guinea, 1.0-2.0, nan, 2004
Row 388: Rwanda  vs  Guinea, 1.0-1.0, nan, 2004
Row 389: Tunisia  vs  DR Congo, 3.0-0.0, nan, 2004
Row 390: Tunisia  vs  Guinea, 1.0-1.0, nan, 2004
Row 391: Rwanda  vs  DR Congo, 1.0-0.0, nan, 2004
Row 392: Kenya  vs  Mali, 1.0-3.0, nan, 2004
Row 393: Senegal  vs  Burkina Faso, 0.0-0.0, nan, 2004
Row 394: Senegal  vs  Kenya, 3.0-0.0, nan, 2004
Row 395: Burkina Faso  vs  Mali, 1.0-3.0, nan, 2004
Row 396: Senegal  vs  Mali, 1.0-1.0, nan, 2004
Row 397: Burkina Faso  vs  Kenya, 0.0-3.0, nan, 2004
Row 398: Zimbabwe  vs  Egypt, 1.0-2.0, nan, 2004

In [25]:
"""
19.	Write a Pandas program to change the order of your DataFrame columns.
"""
# Define the desired column order
order = ['HomeTeam', 'AwayTeam', 'HomeTeamGoals', 'AwayTeamGoals', 'Year', 'Date', 'Time', 'Stage', 'SpecialWinConditions', 'Stadium', 'City', 'Attendance']

# Reassign the DataFrame with the new column order
df = df[order]

print(df.head(2))

    HomeTeam       AwayTeam  HomeTeamGoals  AwayTeamGoals  Year Date Time  \
0     Sudan           Egypt            1.0            2.0  1957  NaN  NaN
1  Ethiopia    South Africa            NaN            NaN  1957  NaN  NaN

        Stage                               SpecialWinConditions  \
0  Semifinals                                                NaN
1  Semifinals  Ethiopia  wins due to disqualification of othe...

             Stadium       City  Attendance
0  Municipal Stadium   Khartoum     30000.0
1                NaN        NaN         NaN

In [26]:
#20.	Write a Pandas program to delete DataFrame row(s) whose value is 0 in the ‘HomeTeamGoals’ columns.

# Delete rows where HomeTeamGoals is 0
df = df[df['HomeTeamGoals'] != 0]